.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.65rem 7rem;
}

.logo {
    display: flex;
    text-decoration: none;
    font-family: var(--fonte-principal);
    font-size: 1.12rem;
    color: var(--cinza2);
}

.logo-marca {
    padding: 2rem 0.5rem; 
}