.container-sobre {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    align-items: center;
    justify-content: center;
    padding-top: 6em;
}

.sobre-nos {
    font-size: 1em;
    font-weight: 600;
    color: var(--vermelho);
}

.titulo-principal {
    font-size: 3em;
    font-weight: 600;
    color: var(--preto);
    margin-bottom: 0.3em;
}

.descrição {
    font-size: 1.25em;
    color: var(--cinza);
    text-align: center;
    width: 40%;
}
    