@import url(../styles/header.css);
@import url(../styles/sobre.css);
@import url(../styles/metricas.css);
@import url(../styles/vagas.css);
@import url(../styles/descricao-v.css);
@import url(../styles/depoimentos.css);
@import url(../styles/rodape.css);

:root {
    --fonte-principal: "inter", sans-serif;
    --vermelho: #8E2424;
    --vermelho2: #8e242428;
    --preto: #101828;
    --cinza: #667085;
    --cinza2: #3A404E;
    --cinza3: #e7e7e7;
    --fundo: #FFFFFF;
}

body {
    background-color: var(--fundo);
}

main {
    font-family: var(--fonte-principal);
}